[submodule "futhark"]
	path = futhark
	url = https://github.com/diku-dk/futhark
[submodule "benchmarks/LocVolCalib/baseline-32/finpar"]
	path = externals/finpar
	url = https://github.com/HIPERFIT/finpar
[submodule "overleaf"]
	path = paper
	url = https://git.overleaf.com/621901be09cf424e593a2919
